{% extends 'master_page.html' %}

{% block title %}
Like A Home
{% endblock %}

{% block content %}
<!-- serach -->
<div class="serach-w3agile">
		<div class="container">
			<div class="place-grids">
				<form action="#" method="post">
					<div class="col-md-3 col-xs-3 place-grid">

						<select class="sel" required="">
							<option value="">Select by price</option>
							<option value="">price2</option>
							<option value="">price3</option>
							<option value="">price4</option>
							<option value="">price5</option>
							<option value="">price6</option>
						</select>
					</div>
					<div class="col-md-3 col-xs-3 place-grid">

						<select class="sel" required="">
							<option value="">Select by location</option>
							<option value="">location2</option>
							<option value="">location3</option>
							<option value="">location4</option>
							<option value="">location5</option>
						</select>
					</div>
					<div class="col-md-3 col-xs-3 place-grid">

						<select class="sel" required="">
							<option value="">Select by area</option>
							<option value="">area2</option>
							<option value="">area3</option>
							<option value="">area4</option>
							<option value="">area5</option>
							<option value="">area6</option>
						</select>
					</div>
					<div class="col-md-3 col-xs-3 place-grid">
						<input type="submit" value="Search">
					</div>
					<div class="clearfix"></div>
				</form>
			</div>
		</div>
	</div>
<!-- //serach -->
<!-- about -->
	<div class="about w3layouts-agileinfo">
		<div class="container">
			<h3 class="agile-titlew3">We are Offering the Best <span> Land Deals</span></h3>
			<div class="about-top w3ls-agile">
				<div class="col-sm-6 red">
					<h5>Travel the world with one of the most <span>experienced travel</span> agencies in the area. Our Agency brings to its
						clients <span>over 50 years</span> of combined travel expertise.</h5>
				</div>
				<div class="col-sm-6 about-wel">
					<p>Worldwide options are available to individuals, families, groups and corporate teams that offer the convenience of skilled
						planning at extraordinary savings.</p>
					<p>Masagni dolores eoquie int Basmodi temporant, ut laboreas dolore magnam aliquam kuytase uaeraquis autem vel eum iure
						reprehend.Unicmquam eius, Basmodi temurer sehsMunim.</p>
					<div class="w3lsmore">
					<a href="#" class="read-agileits" data-toggle="modal" data-target="#myModal">Read More</a>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //about -->
	<!-- Stats -->
<div class="stats-agileits" id="stats">
	<div class="container">
		<div class="stats-info agileits w3layouts">
			<div class="col-md-3 agileits w3layouts col-sm-6 stats-grid stats-grid-1">
				<div class="stat-info-w3ls">
					<i class="fa fa-globe" aria-hidden="true"></i>
					<div class="numscroller agileits-w3layouts" data-slno='1' data-min='0' data-max='153' data-delay='3' data-increment="2">153</div>
					<h4 class="agileits w3layouts">Visited clients</h4>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 agileits w3layouts stats-grid stats-grid-2">
				<div class="stat-info-w3ls">
					<i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
					<div class="numscroller agileits-w3layouts" data-slno='1' data-min='0' data-max='1050' data-delay='3' data-increment="2">1050</div>
					<h4 class="agileits w3layouts">Satisfied customers</h4>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 stats-grid agileits w3layouts stats-grid-3">
				<div class="stat-info-w3ls">
					<i class="fa fa-trophy" aria-hidden="true"></i>
					<div class="numscroller agileits-w3layouts" data-slno='1' data-min='0' data-max='275' data-delay='3' data-increment="2">275</div>
					<h4 class="agileits w3layouts">Best deals</h4>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 stats-grid stats-grid-4 agileits w3layouts">
				<div class="stat-info-w3ls">
					<i class="fa fa-users" aria-hidden="true"></i>
					<div class="numscroller agileits-w3layouts" data-slno='1' data-min='0' data-max='220' data-delay='3' data-increment="2">220</div>
					<h4 class="agileits w3layouts">Agents</h4>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
	<!-- //Stats -->
<!-- news -->
	<div class="w3ls-section services news">
		<div class="container">
			<h2 class="agileits-title">Featured properties</h2>
			<div class="news-agileinfo">
				<div class="col-sm-4 news-w3lgrids">
					<div class="news-gridtext">
						<div class="news-w3img">
							<img src="/assets/images/5.jpg" class="img-responsive zoom-img" alt="" />
						</div>
						<div class="news-w3imgtext">
							<h5 class="w3-agilep">$58.800</h5>
							<h4>Montana land </h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer gravida mauris non mi gravida, at sollicitudin. </p>
						</div>
					</div>
				</div>
				<div class="col-sm-4 news-w3lgrids">
					<div class="news-gridtext">
						<div class="news-w3img">
							<img src="/assets/images/8.jpg" class="img-responsive zoom-img" alt="" />
						</div>
						<div class="news-w3imgtext">
							<h5 class="w3-agilep">$48.800</h5>
							<h4>Wyoming land </h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer gravida mauris non mi gravida, at sollicitudin. </p>
						</div>
					</div>
				</div>
				<div class="col-sm-4 news-w3lgrids">
					<div class="news-gridtext">
						<div class="news-w3img">
							<img src="/assets/images/9.jpg" class="img-responsive zoom-img" alt="" />
						</div>
						<div class="news-w3imgtext">
							<h5 class="w3-agilep">$68.800</h5>
							<h4>New Mexico land </h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer gravida mauris non mi gravida, at sollicitudin. </p>
						</div>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //news -->
<!-- newsletter -->
	<div class="footer-top">
		<div class="container">
		<h3 class="agileits-title">Subscribe Here</h3>
			<div class="agile-leftmk">
				<p>New Blog Posts delivered fresh to your inbox.</p>
				<form action="#" method="post">
					<input type="email" placeholder="E-mail" name="email" required="">
					<input type="submit" value="Subscribe">
					<div class="clearfix"></div>
				</form>
			</div>

		</div>
	</div>
	<!-- //newsletter -->
<!-- testimonials -->
<div class="testimonials">
	<div class="container">
	<h3 class="agileits-title">Our Client Says</h3>
		<section class="slider">
			<div class="flexslider">
				<ul class="slides">
				  <li>
					<div class="banner-bottom-2">
						<div class="about-midd-main">
							<p> consectetur adipiscing elit, sed do eiusmod idunt ut labore. sed do eiusmod tempor incididunt ut labore et dolore.</p>
							<div class="test-right-w3layouts">
								<img class="agile-img" src="/assets/images/t1.jpg" alt="clients">
								<h4>Aaron Wade <span>Incididunt ut labore</span></h4>
							</div>
							<div class="clearfix"></div>
						</div>
					</div>
				  </li>
				 <li>
					<div class="banner-bottom-2">
						<div class="about-midd-main">
							<p> consectetur adipiscing elit, sed do eiusmod idunt ut labore. sed do eiusmod tempor incididunt ut labore et dolore.</p>
							<div class="test-right-w3layouts">
								<img class="agile-img" src="/assets/images/t2.jpg" alt="clients">
								<h4>Sam kromstain <span>Incididunt ut labore</span></h4>
							</div>
							<div class="clearfix"></div>
						</div>
					</div>
				  </li>
				  <li>
					<div class="banner-bottom-2">
						<div class="about-midd-main">
							<p> consectetur adipiscing elit, sed do eiusmod idunt ut labore. sed do eiusmod tempor incididunt ut labore et dolore.</p>
							<div class="test-right-w3layouts">
								<img class="agile-img" src="/assets/images/t3.jpg" alt="clients">
								<h4>Jessica priston <span>Incididunt ut labore</span></h4>
							</div>
							<div class="clearfix"></div>
						</div>
					</div>
				  </li>
				</ul>
			</div>
			<div class="clear"> </div>
		</section>
	</div>
</div>
<!-- //testimonials -->
{% endblock %}